<h2>ログイン</h2>

<form action="/login" method="POST">
  ログインID：<br>
  <input type="text" name="loginId"><br><br>

  パスワード：<br>
  <input type="password" name="password"><br><br>

  <button type="submit">ログイン</button>
</form>
