<h1>登用状</h1>

<p>
  宛先：
  <%= target.name %>
</p>

<form method="post" action="/recruit/send">

  <input
    type="hidden"
    name="targetId"
    value="<%= target.id %>">

  <textarea
    name="message"
    rows="10"
    cols="50"
    maxlength="200"
    required></textarea>

  <br>

  <button type="submit">
    登用状を送る
  </button>

</form>